@charset "utf-8";

/*********** Sticky Footer **********/

html, body 
{height: 100%;
width: 100%;
color: #ffffff;
font-family: georgia;}

#wrapper 
{min-height: 100%;
max-width: 987px;
background: #649eb3;
margin: 0 auto;
position: relative;
overflow: hidden;}

#content 
{padding-bottom: 40px;
background: #649eb3;
font-size: 1em;
line-height: 1.5;} 

footer
{width: 95%;
height: 40px;
position: absolute; 
bottom: 0;
text-align: center;
font-size: 0.75em;}

address
{padding: 5px;}

/************** Background Image ************/

#background
{height: 100%;
width: 100%;
display: block;
position: relative;
z-index: 5;}

#background-image
{height: 100%;
width: 100%;
position: fixed;
z-index: -999;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: url(../images/slayers2.jpg) no-repeat center center;
background-size: cover;}

/******** Header Styles ******/

header
{height: 200px; 
font-family: cooper std, sans-serif;
background-color: #649eb3;}

.logo
{font-size: 4em;
margin-top: 0;
margin-bottom: 0;
margin-left: 20px;
color: #ffffff;}

.logo2
{font-size: 1.5em;
margin-top: 0;
margin-left: 20px;
color: #ffffff;}

a
{display: block;
text-decoration: none;}

/***** Main Navigation *****/

nav
{clear: both;
margin-left: 20px;
color: #ffffff;}

nav li a
{margin: 0px 20px 0px 0;
font-size: 1.4em;
color: #ffffff;
display: inline-block;}

nav li a:hover
{display: block;
color: #ed9121;}

nav li ul
{position: absolute;
z-index: 9999;}

nav ul ul
{display: none;}

nav ul li:hover > ul
{display: block;}

nav ul
{list-style: none;
position: relative;
display: inline;
padding: 0;}

nav ul:after
{content: "";
clear: both;
display: block;}

nav ul li
{display: inline-block;}

nav ul li a
{color: #ffffff;
text-decoration: none;}

nav ul ul
{top: 100%;}

nav ul ul li 
{float: left;
background: #649eb3;
width: 15em;
height: 2em;
border: solid 1px #ffffff;
position: relative;
top: 5px;
font-size: 0.8em;
padding: 5px 0px 5px 10px;}

nav ul ul li:hover
{background: #ffffff;}

nav ul ul li a
{color: #ffffff;}

nav ul ul li a:hover
{color: #649eb3;}

nav ul ul ul
{position: absolute;
left: 100%;
top: 0;}

/***** Page Styles *****/

img.homepageimg
{margin-left: 20px;}

div>h2
{margin-top: 0;}

h3
{margin-left: 20px;
font-size: 1.5em;}

h4
{font-size: 1.2em;}

div.begin
{padding: 20px;}

div.moviecol
{float: left;
margin-left: -20px;
margin-top: -50px;}

.movieimg
{margin-top: 30px;
margin-left: 20px;}

img.movieimg2
{padding-left: 0;
margin-left: 0;}

div.manga, div.novelcol, div.othercol, div.moviecol,
div.radiocol, div.gamescol, div.songscol, div.cdromcol,
div.moviecol2
{margin-top: -20px;
padding: 20px;}

ul li
{list-style: none;}

ul.series
{float: left;
margin-left: -20px;
clear: both;}

div.manga>h3, div.novelcol>h3, div.othercol>h3,
div.moviecol2>h3, div.radiocol>h3, div.gamescol>h3,
div.cdromcol>h3, div.songscol>h3
{margin-left: 0;}



